:root {
  --darkGreen: #0e4e2c;
  --white: #ffffff;
}

body {
  background-color: darkolivegreen;
  color: aliceblue;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h2 {
  margin-left: 1rem;
}

.image {
  text-align: center;
}

.image img {
  width: 80%;
}

.game {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 1rem;
}

button {
  width: 8.5rem;
  height: 4rem;
  border: 2px solid black;
  border-radius: 6px;
  font-weight: 800;
  font-size: 1rem;
  transition: ease-out 0.4s;
}

.game button {
  box-shadow: inset 0 0 0 0 var(--darkGreen);
}

.player>button:hover {
  cursor: pointer;
  color: #ffffff;
  box-shadow: inset 400px 0 0 0 var(--darkGreen);
}

.computer button {
  color: darkgray;
}

.settings {
  width: 100%;
  text-align: center;
}

#resetBtn {
  margin-top: 5em;
  font-weight: 700;
}

#resetBtn:hover {
  cursor: pointer;
  color: #ffffff;
  box-shadow: inset 0 0 0 50px var(--darkGreen);
}

.reverseClass {
  transform: scaleX(-1)
}