body {
  background-color: darkolivegreen;
  color: aliceblue;
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h2 {
  margin-left: 1rem;
}

.game {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.game button {
  width: 5rem;
  height: 4rem;
  border-radius: 6px;
  font-weight: 800;
}

.player>button:hover {
  background-color: bisque;
}

.player>button:active {
  background-color: orange;
}

.computer button {
  color: darkgray;
}

.settings {
  width: 100%;
  text-align: center;
}

#resetBtn {
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  margin-top: 5em;
  font-weight: 700;
}

#resetBtn:hover {
  background-color: burlywood;
}

#resetBtn:active {
  background-color: orange;
}